body{
    background-color: black;
}

#h11{
    color: blanchedalmond;
}

.class1{
    color: hotpink;
    font-size: 25px;
}

#btn{
    background-color: blanchedalmond;
    border: blanchedalmond;
}